/*------------------------
    Team Styles 
----------------------*/
.teamImages {
    justify-content: center;
}

.ourTeam {
    margin-top: 30px;
    overflow: hidden;
    border-radius: 6px;
    position: relative;
    .thumbnail {
        display: block;
        position: relative;
        z-index: 1;
        img {
            height: 500px;
            width: auto;
            @extend %transition;
        }
    }
}

/*-------------------
    Team Static  
---------------------*/

.team-static{
    .inner {
        padding-top: 17px;
        .content {
            .title {
                margin-bottom: 2px;
                font-size: 16px;
            }
            p {
                &.designation {
                    color: #fff;
                    margin-bottom: 5px;
                    font-size: 15px;
                    font-weight: 300;
                }
            }
        }

        .social-share{

        }
    }
}

/*----------------------
    Social Share 
------------------------*/
ul {
    &.social-transparent {
        margin: -8px;
        li {
            margin: 8px;
            a {
                width: auto;
                display: inline-block;
                height: auto;
                border: 0 none;
                line-height: initial;
                color: #fff;
                border-radius: 100%;
                text-align: center;
                font-size: 17px;
                transition: 0.3s;
                &:hover {
                    color: $theme-color;
                }
            }
        }
    }
}












